.footer {
  /* text-align: center !important; */
  padding: 30px;
  color: #fff;
  background-color: #00a050;
  /* border-radius: 10px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.footer > .footer-crafted {
  text-align: center !important;
  border-top: 1px solid #e2e2e2;
  padding-top: 25px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  /* display: inline-block; */
}
.footer-links ul li {
  padding: 5px 0;
}

.footer-link:hover {
  color: #505078;
  text-decoration: none;
  font-size: 110%;
}

.footer-logo {
  width: 150px;
  /* height: 100px; */
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px 0 10px;
}
